<h1>Profile</h1>

<h2>Information</h2>
<ul>
  <li>Email: <%= current_user.email %></li>
  <li>Date of Last Period: <%= current_user.date_of_last_period %></li>
  <li>Next Period Expected On: <%= current_user.date_of_next_period %></li>
</ul>

<h1>Completed Workouts</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Workout Type</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.id %></td>
        <td><%= workout.workout_type %></td>
        <td><%= workout.workout_length_mins %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @workouts.empty? %>
  <p>No workouts found.</p>
<% end %>
