<div>
  <div>
    <h1>
      List of all admin workouts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new admin workout
    </h2>

    <form action="/insert_admin_workout" method="post">
      <div>
        <label for="workout_type_box">
          Workout type
        </label>

        <input type="text" id="workout_type_box" name="query_workout_type">
      </div>

      <div>
        <label for="workout_desc_box">
          Workout desc
        </label>

        <input type="text" id="workout_desc_box" name="query_workout_desc">
      </div>

      <div>
        <label for="workout_phase_box">
          Workout phase
        </label>

        <input type="text" id="workout_phase_box" name="query_workout_phase">
      </div>

      <button>
        Create admin workout
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Workout type
        </th>

        <th>
          Workout desc
        </th>

        <th>
          Workout phase
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_admin_workouts.each do |an_admin_workout| %>
      <tr>
        <td>
          <%= an_admin_workout.id %>
        </td>

        <td>
          <%= an_admin_workout.workout_type %>
        </td>

        <td>
          <%= an_admin_workout.workout_desc %>
        </td>

        <td>
          <%= an_admin_workout.workout_phase %>
        </td>

        <td>
          <%= time_ago_in_words(an_admin_workout.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_admin_workout.updated_at) %> ago
        </td>

        <td>
          <a href="/admin_workouts/<%= an_admin_workout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
